.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#memoForm, #memoList {
  width: 100%
}

#memoList {
  text-align: center;
  padding: 0 4rem;
}

#memoText {
  height: 200px;
  width: 100%;
  padding: 1rem;
  resize: none;
}

#textarea:focus {
  outline: none;;
}

#formBtns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  
}

#formBtns input {
  width: 5rem;
}

.memoItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

